<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels0" [data]="data0" title="Ventas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [labels]="labels1" [data]="data1" title="Compras">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels2" [data]="data2" title="Cambios"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [labels]="labels3" [data]="data3" title="Compras 2"></app-dona>
    </div>
</div>